<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973804533813-6klds5cl0obhfea8blv59joqv34g0tmm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973804533813-6klds5cl0obhfea8blv59joqv34g0tmm</string>
	<key>API_KEY</key>
	<string>AIzaSyABy6k-81QMs1lEkQCmeZrqIhk2OgEn1Iw</string>
	<key>GCM_SENDER_ID</key>
	<string>973804533813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jackpan.sharebadplace</string>
	<key>PROJECT_ID</key>
	<string>sharebadplace</string>
	<key>STORAGE_BUCKET</key>
	<string>sharebadplace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973804533813:ios:5d67f3016934dc2ffb197c</string>
</dict>
</plist>